

/* _____ Photo Gallery (dance and art) _____ */

* {
box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
position: relative;
margin: 2rem;
}

/* Hide the images by default */

.danceSlides {
display: none;
}

.img-itself{
    width: auto;
    max-width: 100%;
    height: auto;
}

.horz-center-slides{
  text-align: center;
}


/* Add a pointer when hovering over the thumbnail images */
.cursor {
cursor: pointer;
}

/* Next & previous buttons */

.prev,
.next{
cursor: pointer;
position: absolute;
top: 10%;
width: auto;
padding: 16px;
/*margin-top: -50px;*/
color: #BD9050;
font-weight: bold;
font-size: 20px;
border-radius: 0 3px 3px 0;
user-select: none;
-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover { 
background-color: #333E3C;
}

/* Number text (ex: 1/5)  */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* Container for image text */
.caption-container { /*shouldn't need unique elements*/
text-align: center;
background-color: #222;
padding: .5rem 6rem;
color: white;
}

.row{
  height: 50%;
  border: 2pt dotted lightblue;
}

.row:after {
content: "";
display: table;
clear: both;
}

/* five columns side by side */
.column {
float: left;
width: 20%;
border: 2pt dotted lightcoral;
}

/* Add a transparency effect for thumnbail images */
.preview {
opacity: 0.6;
}

.active,
.preview:hover {
opacity: 1;
}