

/* _____ Photo Gallery (dance and art) _____ */

* {
box-sizing: border-box;
}

/*
* { outline: 2px dotted red }
* * { outline: 2px dotted green }
* * * { outline: 2px dotted orange }
* * * * { outline: 2px dotted blue }
* * * * * { outline: 1px solid red }
* * * * * * { outline: 1px solid green }
* * * * * * * { outline: 1px solid orange }
* * * * * * * * { outline: 1px solid blue }
*/

/* Position the image container (needed to position the left and right arrows) */
.container {
position: relative;
margin: 2rem;
}

/*this horizontally centers each selected image*/
.horz-center-slides{
    text-align: center;
  }

/* Hide the images by default */
.danceSlides {
    display: none;
}

.img-itself{
    width: 40vw;
    max-width: 100%;
    height: auto;
}


/* Add a pointer when hovering over the thumbnail images */
.cursor {
cursor: pointer;
}

/* Next & previous buttons */

.prev, .next {
    /*display: inline;*/
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    bottom: 0;
    /*width: auto;*/
    padding: .5rem;
    /*margin-top: -50px;*/
    color: #BD9050;
    font-weight: bold;
    font-size: 20px;
    border-radius: .4rem 0 0 .4rem;
    user-select: none;
    -webkit-user-select: none;
    /*going to need to swap these for svg's,
    in order to be able to set responsive
    width, using vw*/
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 0 .4rem .4rem 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover { 
background-color: #333E3C;
}


.row{
  height: 50%;
  background-color:whitesmoke;
  box-shadow: 1rem;
}

.row:after {
content: "";
display: table;
clear: both;
}

/* five columns side by side */
.column {
float: left;
width: 20%;
}

/* Add a transparency effect for thumnbail images */
.preview {
opacity: 0.5;

/*padding-top: 50%; this does vertically center
but it pushes both rows up, into the main image
transform: translateY(-50%);*/
}

.active, .preview:hover {
opacity: .8;
}