

/* ---------style for index ----------*/
.container{
    position: relative;
    width: 100%;
    height: auto;
}

img[src*="falling-bw"]{
    position: absolute;
    object-fit: cover;
    /*object-fit: scale-down;*/
    /*doesn't crop any of the image but as a result of preserving scale, it produces left and right margins*/
    width: 100%;
    height: auto;
    opacity: 1;
}

.land-to-home {
    position:fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18rem;
    height: 4rem;
    text-align: center;
    padding-top: 1.9rem;
    background-color: #54747F;
    border: #54747F;
    border-radius: 0.5rem;
    color: white;
    z-index:1;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.land-to-home:hover{
    opacity:1;
}


/* ---------- Core of all ---------- */

:root {
  /*--transition-time: 0.5s;*/
}


* {
  box-sizing: border-box;
  /*border: 2px dotted black;*/
}

body{
  margin: 0;
  padding: 0;
  min-height: 100vh; /*height: 100vh = 100% of the viewport height. height: 100% = 100% of the parent's element height. The viewport units are relative units, which means that they do not have an objective measurement*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: whitesmoke;
}


/* -------------- homepage header ------------ */

.homepage-header-container {
    display: flex;
    justify-content: center; /*horizontal*/
    align-items: center; /*vertically adjust*/
    background: rgb(48,48,48);
    background: linear-gradient(0deg, rgba(48,48,48,1) 0%, rgba(247,247,255,1) 50%, rgba(48,48,48,1) 100%);
}

.header {
    display: flex;
    justify-content: center; /*horizontal*/
    align-items: center; /*vertically adjust*/
    margin: 1rem 3rem 1rem 3rem; /*top/bottom_left/right*/
    z-index: 1;
    background-image: url(./metasandfade.png);
    background-position-x: center;
    background-position-y: center ;
    filter: grayscale(100%);
    background-size: cover;
    overflow: hidden; /*without hidden, the header had a big top gap/margin*/
    font-size: 6rem;
    color: whitesmoke;  
    text-align: center;
    justify-content: center;
    align-self: center;
    text-shadow: 0 0 .5rem gray;
    /*border-top: 0.2rem solid white;*/
    border-right: 0.5rem solid white;
    border-left: 0.5rem solid white;
    /*border-bottom: 0.2rem solid rgba(48,48,48,1);*/
}

.mamikos-name {  /*nothing really changing with this text alingment because this is child to the header-parent. header would need to be sibling, both inside container - it's fine for now.*/
  /* If position: relative; - the bottom property makes the element's bottom edge to move above/below its normal position (which is centered it seems)  https://www.w3schools.com/cssref/pr_pos_bottom.asp */
    font-weight:lighter;
    text-shadow: 0 0 .5rem gray;
    letter-spacing: 1.5rem;
    background-color: transparent;
    z-index: 1;
    margin: 2rem;
}


/* -------------- homepage body  ------------ */

.container {
    display: flex;
    height: 100vh;
}
  
.section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transition: flex .4s ease;
    position: relative;
}
  
.pagenav {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    text-decoration: none;
    opacity: 0.7;
    transition: 0.3s;
}

.pagenav:hover {
    color: white;
    opacity: 1;
    text-shadow: 0 0 .5rem gray;
  }

.section .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    transition: background-color .8s ease;
}
  
.section .content {
    z-index: 2;
}
  
.section:hover {
    flex: 2;
}
  
.section:hover .overlay {
    background-color: rgba(0, 0, 0, 0);
}
  
#bio {
    background-image: url(./mamiko-backwards.png);
    object-fit: scale-down;
    /* I don't know if this is necesarry or not */
    /* NOTE: from the template css, I removed this from the image url:  */
    /* &auto=format&fit=crop&w=500&q=60 */
  }
  
#film-works {
    background-image: url(./mamiko-floral-dancing.png);
}
  
#connect {
    background-image: url(./mamiko-meta.png);
}




/*multi-use header:*/

.simple-header-container {
/*these 3 flex settings apply to children elements, that's why I'm not repeating it for bio-to-home*/
    display: flex;
    justify-content: flex-start;
    /*justify-content is for verticle alignment. flex-start positions at beginning of the container (this is default)*/
    align-items: center;
    /*align-items center, is verticle alignment. center is in the middle of container*/
    margin-left: 2rem;
    margin-top: 2rem;
}

.back-to-home {
/*https://flaviocopes.com/flexbox/#properties-that-apply-to-each-single-item*/
    letter-spacing: 1rem;
    margin-left: 2rem;
    border-top: 0.1rem solid black;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom: 0.1rem solid black;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    color: black;
    z-index:1;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
    opacity: 0.5;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}

.back-to-home:hover{
    opacity:1;
}


/*__________________bio page body:_____________________*/

.bio-container {
    display: flex;  /*same as saying, display: inline-flex*/
    justify-content: center; /*horizontal centering of main body container*/
    align-items: center; /*vertical centering*/
    margin: 2rem 2rem 2rem 2rem;
    overflow: hidden;
}

.bio-image {
    padding: 0;
    margin: 2rem 0 2rem 2rem;
}

.bio-image img {
    max-height: 25rem;
    width: auto;
    box-shadow: 0 0 2rem -1rem #A4A4A4;
    border-radius: 0.2rem;
}

.bio-content {
    color: black;
    text-align: left;
    padding-left: 2rem;
    margin: 2rem 2rem 2rem 2rem;
}

.bio-content p{
    border-left: 0.5rem solid black;
    padding-left: 1.5rem;
}


/*film works body*/




/*________      .__.                 
 /  _____/______|__| _____   _____  
/   \  __\_  __ \  |/     \ /     \ 
\    \_\  \  | \/  |  Y Y  \  Y Y  \
 \______  /__|  |__|__|_|  /__|_|  /
        \/               \/      \/
*/