/*index*/

.container{
    position: relative;
    width: 100%;
    height: auto;
}

img[src*="Mamiko-CoverPage"]{
    width: 100%;
    height: auto;
    opacity: 0.85;
}

a[href*="./homepage.html"]{
    position:fixed;
    top: 25%;
    left: 50%;
    width: 15rem;
    transform: translate(-50%, -50%);
    background-color: #DAA9B3;
    border: none;
    color: white;
    padding: 0.2rem;
    text-align: center;
    z-index:1;
    font-size: 24px;
    font-family: Verdana;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

a[href*="./homepage.html"]:hover{
    opacity:1;
}

/*homepage*/

/*these "banner container" styles, will be applicable for
homepage, filmWorks and socialmedia (aka all pages accept index
does it need font styles? no*/

/*I should be fine to import that css font sheet if needed..*/

:root {
  --color: white;
  --transition-time: 0.5s;
}


* {
  box-sizing: border-box;
}

body{
  margin: 0;
  min-height: 100vh; /*height: 100vh = 100% of the viewport height. height: 100% = 100% of the parent's element height. The viewport units are relative units, which means that they do not have an objective measurement*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #D6B7A3;
}

a {
  color: inherit; /*inherit from what parent.. find out*/
}

.cards-wrapper {
  display: grid; /*Defines the element as a grid container and establishes a new grid formatting context for its contents - https://css-tricks.com/snippets/css/complete-guide-grid/*/
  justify-content: center; /*https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content*/
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr; /*set each item to one third the width of the grid container*/
  grid-gap: 4rem; /*1rem=16px (aka base / browser default) 18px = 1.125rem / 20px = 1.25rem / 24px = 1.5rem etc.*/
  padding: 4rem; /*rem is relative to browers/html/root/base. whereas em is relative to is nearest parent.*/
  margin: 0 auto;
  width: max-content /*this means that the content will not wrap at all even if it causes overflows*/
}

.card {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em; /*determines rounded corners*/
  padding: 1em; /*spacing between content and borders*/
  /*margin: 2em;  <<this was commented out, from the template*/
  display: flex; /*https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em #A4A4A4;
  transition: all, var(--transition-time);
  position: relative;  /*here goes position.. pay attention how this interacts with the other elements*/
  overflow: hidden;
  border: 10px solid #54747F;
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}

.card p {
  font-size: 0.75em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0.5em;
  line-height: 2em;
}

/*skipping date and card tags, as it's skipped in my html*/

.card:before, .card:after {
  content: '';
  transform: scale(0); /*The scale() method increases or decreases the size of an element (according to the parameters given for the width and height).*/
  transform-origin: top left; /*starts at the top left*/
  border-radius: 50%;
  position: absolute;  /*here goes position again - card position, is relative*/
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background: #C2C6AF;
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}
  
.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .title {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
  color: white;
}


.header {
    width: auto;
    margin: 0rem 3rem; /*top/bottom_left/right*/
    padding: 0rem;
    border: 0rem;
    height: auto;
    box-shadow : 0 0 1em 1em #F0DBBC;
    z-index: 1;
    background-image: url(./metasandfade.png);
    filter: grayscale(100%);
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    position: static; /*default, added as reminder*/
    overflow: hidden; /*without hidden, the header had a big top gap/margin*/
  }
  
  
  #mamikos-name {
    position: relative;
    font-size: 7em;
    text-align: center;
    font-weight: normal;
    bottom: 0rem;
    color: white;
    letter-spacing: 0.1em;
    background-color: transparent;
    z-index: 1;
  }
  
  /*I need to define this header height, then define the image seperately*/


@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;  /*defined in the cards-wrapper element*/
  }  /*this is 1fr 1fr, is why, when looking at, from iphone, you get two cards, then the third is created on a second row. there's probably a way to say, if 2 rows, make the card on second row, centered*/
  .header {
    height:auto;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .header {
    justify-content: center;
    height: auto;
  }
  .card-grid-space .title {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
  .header {
    height:auto;
  }
}
  
@media screen and (max-width: 450px) {
  .header {
    display: block;
    text-align: center;
    height: auto;
  }
  .header h1 {
    margin: 0;
  }
}


/*bio:*/

.biocontainer{
    position: static;
  }

  #biogradient {
    background: #999955;
    background-image: linear-gradient(
        #F0DBBC 20%,#C2C6AF 20%, #C2C6AF 40%, #8E5D67 40%, #8E5D67 60%, #54747F 60%, #54747F 80%, #B29671 80%);
    margin: 3rem auto auto 0;
    width: 100%;
    height: 150px;
  }
    
  #biocard {
    position: relative;
    width: 40%;
    top: 25%;
    padding: 25px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    background: #E9E2D0;
    box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
    border-radius: .5rem;
    z-index: 1;
  }

  #biocard h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    margin: 0 auto;
    padding: 1rem;
    font-size: 15pt;
    z-index: 3;
  }
  
  #biocard p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #555;
    font-size: 13px;
    padding: 1rem;
    z-index: 3;
  }




/*________      .__.                 
 /  _____/______|__| _____   _____  
/   \  __\_  __ \  |/     \ /     \ 
\    \_\  \  | \/  |  Y Y  \  Y Y  \
 \______  /__|  |__|__|_|  /__|_|  /
        \/               \/      \/
*/