/*index*/

.container{
    position: relative;
    width: 100%;
    height: auto;
}

img[src*="Mamiko-CoverPage"]{
    width: 100%;
    height: auto;
    opacity: 0.85;
}

a[href*="./homepage.html"]{
    position:fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    z-index:1;
    font-size: 24px;
    font-family: Verdana;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

a[href*="./homepage.html"]:hover{
    opacity:1;
}

/*homepage*/

/*these "banner container" styles, will be applicable for
homepage, filmWorks and socialmedia (aka all pages accept index
does it need font styles? no*/

#header{
    width: 100%;
    height: 25%;
    border: 1px dotted darkred;
}

.header-content-left{
    border: 1px dotted darkred;
    display: inline-block;
}

img[src*="mamiko-banner"]{
    width: 54%;
    height: 25%;
    object-fit: cover;
    z-index: -1;
    opacity: 85%;
    border: 1px dotted darkred;
    display: inline-block;
}

.headername{
    width: auto; /*default*/
    z-index: 1;
    margin: 0 auto;
    padding: 0;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 26.4px; 
    border: 1px dotted darkred;
    display: inline-block;
}

.header-content-right{
    border: 1px dotted darkred;
    display: inline-block;
}

/* need to add both site nav links here */

.hp-body{
    background-color: #444444;
    border: 1px dotted darkred;
}

.hp-body-header{
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24pt;
    border: 1px dotted darkred;
}

.hp-body-content {
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    border: 1px dotted darkred;
}



/*________      .__.                 
 /  _____/______|__| _____   _____  
/   \  __\_  __ \  |/     \ /     \ 
\    \_\  \  | \/  |  Y Y  \  Y Y  \
 \______  /__|  |__|__|_|  /__|_|  /
        \/               \/      \/
*/

